<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Caller</h1>
    <label for="">arm id:</label>
    <input id="callerInput" type="text">
    <button id="callerBtn">move</button>
    <h3 id="callerMsg"></h3>

    <hr>

    <h1>Arm</h1>
    <label for="">arm id:</label>
    <input id="armInput" type="text">
    <button id="armBtn">move</button>
    <h3 id="armMsg"></h3>

    <hr>

    <h1>DEBUG</h1>
    <ul id="debugTable">
        
    </ul>

    <script>
        let callerInput = document.querySelector("#callerInput");
        let callerBtn = document.querySelector("#callerBtn");
        let callerMsg = document.querySelector("#callerMsg");
        
        let armInput = document.querySelector("#armInput");
        let armBtn = document.querySelector("#armBtn");
        let armMsg = document.querySelector("#armMsg");

        let debugTable = document.querySelector("#debugTable");

        url = "https://ctc-arm-api.herokuapp.com";
        // url = "http://localhost:3000"

        //caller
        callerBtn.addEventListener("click", () => {
            let id = callerInput.value;

            fetch(url + "/call/" + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    callerMsg.innerHTML = myJson;
                    console.log(myJson);
                    debug();
                });
        });

        //arm
        callerBtn.addEventListener("click", () => {
            let id = callerInput.value;

            fetch(url + "/check/" + id)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    armMsg.innerHTML = myJson;
                    console.log(myJson);
                    debug();
                });
        });

        //debug
        fetch(url + "/debug")
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    armMsg.innerHTML = myJson;
                    console.log(myJson);
                });
    </script>
</body>

</html>